{% extends 'base.html' %}

{% load staticfiles %}
{% load zeratul_template_utils %}

{% block CONTENT_BLOCK %}

<div class="jumbotron clearfix">
    <div class="col-md-9">
        <h1>{{ map.name }}</h1>
        <h4>Number of games played: {{ map.play_count }}</h4>
        <h4>Average Game Length: {{ map.avg_game_length.minutes }}:{{ map.avg_game_length.seconds|stringformat:"02d" }}</h4>
    </div>
    <div class="col-md-3">
        <img src="{{ map.minimap_url }}" />
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Games played on this map</div>

            <div class="list-group">
                {% for game in map.games %}
                    <a href="{% url 'game_detail' game.id %}" class="list-group-item clearfix">
                        <div class="container-fluid col-md-9">
                            {% for team in game.teams %}
                                <div class="col-md-{% divide 12 game.teams|length %}">
                                {% for player in team.players %}
                                    <div class="row{% if team.is_winning_team %} winner{% endif %}">
                                    {% if player.race == 'Zerg' %}
                                    <img width=20 height=20 src="{% static 'img/zerg.png' %}">
                                    {% elif player.race == 'Terran' %}
                                    <img width=20 height=20 src="{% static 'img/terran.png' %}">
                                    {% else %}
                                    <img class="protoss-icon" width=10 height=20 src="{% static 'img/protoss.png' %}">
                                    {% endif %}

                                    {{ player.name }}
                                    </div>
                                {% endfor %}
                                </div>
                            {% endfor %}
                        </div>

                        <div class="container-fluid col-md-1">
                            {{ game.length.minutes }}:{{game.length.seconds|stringformat:"02d" }}
                        </div>

                        <div class="container-fluid col-md-2">
                            {{ game.started_at|date:"M d, Y" }}
                        </div>
                    </a>
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">1v1 Win Ratios</div>

            <table class="table">
                <tr>
                    <td>
                        <p><img width=20 height=20 src="{% static 'img/zerg.png' %}"> Zerg</p>
                        <p>{{ map.stats.ZvP.Zerg }}</p>
                        <p>{{ map.stats.ZvP.percent_zerg|floatformat:2 }}%</p>
                    </td>
                    <td>vs</td>
                    <td>
                        <p><img class="protoss-icon" width=10 height=20 src="{% static 'img/protoss.png' %}"> Protoss</p>
                        <p>{{ map.stats.ZvP.Protoss }}</p>
                        <p>{{ map.stats.ZvP.percent_protoss|floatformat:2 }}%</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p><img width=20 height=20 src="{% static 'img/zerg.png' %}"> Zerg</p>
                        <p>{{ map.stats.ZvT.Zerg }}</p>
                        <p>{{ map.stats.ZvT.percent_zerg|floatformat:2 }}%</p>
                    </td>
                    <td>vs</td>
                    <td>
                        <p><img width=20 height=20 src="{% static 'img/terran.png' %}"> Terran</p>
                        <p>{{ map.stats.ZvT.Terran }}</p>
                        <p>{{ map.stats.ZvT.percent_terran|floatformat:2 }}%</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p><img width=20 height=20 src="{% static 'img/terran.png' %}"> Terran</p>
                        <p>{{ map.stats.TvP.Terran }}</p>
                        <p>{{ map.stats.TvP.percent_terran|floatformat:2 }}%</p>
                    </td>
                    <td>vs</td>
                    <td>
                        <p><img class="protoss-icon" width=10 height=20 src="{% static 'img/protoss.png' %}">  Protoss</p>
                        <p>{{ map.stats.TvP.Protoss }}</p>
                        <p>{{ map.stats.TvP.percent_protoss|floatformat:2 }}%</p>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>


{% endblock %}
