{% extends 'base.html' %}


{% block CONTENT_BLOCK %}

<div class="jumbotron clearfix">
    <div class="col-md-9">
        <h1>{{ player.name }}</h1>
        <h4>Number of games played: {{ player.play_count }}</h4>
        <h4>Average Game Length: {{ player.avg_game_length.minutes }}:{{ map.avg_game_length.seconds|stringformat:"02d" }}</h4>
    </div>
    <div class="col-md-3">
        <img style="" src="{{ map.minimap_url }}" />
    </div>
</div>



<div class="container-fluid">
    <div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Games played on this map</div>

            <div class="list-group">
                {% for game in map.games %}
                    {{ game }}
                    <a href="{% url 'game_detail' game.id %}" class="list-group-item clearfix">
                        <div class="container-fluid col-md-7">


                            {{ game.player1.name }} ({{ game.player1.race }})
                            {{ game.player2.name }} ({{ game.player2.race }})

                        </div>

                        <div class="container-fluid col-md-1">
                            {{ game.length.minutes }}:{{game.length.seconds|stringformat:"02d" }}
                        </div>

                        <div class="container-fluid col-md-4">
                            {{ game.started_at }}
                        </div>
                    </a>
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">1v1 Race Win Ratios</div>

            <table class="table">
                <tr>
                    <td>
                        <p>Zerg</p>
                        <p>{{ map.stats.ZvP.Zerg }}</p>
                        <p>{{ map.stats.ZvP.percent_zerg|floatformat:2 }}%</p>
                    </td>
                    <td>vs</td>
                    <td>
                        <p>Protoss</p>
                        <p>{{ map.stats.ZvP.Protoss }}</p>
                        <p>{{ map.stats.ZvP.percent_protoss|floatformat:2 }}%</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Zerg</p>
                        <p>{{ map.stats.ZvT.Zerg }}</p>
                        <p>{{ map.stats.ZvT.percent_zerg|floatformat:2 }}%</p>
                    </td>
                    <td>vs</td>
                    <td>
                        <p>Terran</p>
                        <p>{{ map.stats.ZvT.Terran }}</p>
                        <p>{{ map.stats.ZvT.percent_terran|floatformat:2 }}%</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Terran</p>
                        <p>{{ map.stats.TvP.Terran }}</p>
                        <p>{{ map.stats.TvP.percent_terran|floatformat:2 }}%</p>
                    </td>
                    <td>vs</td>
                    <td>
                        <p>Protoss</p>
                        <p>{{ map.stats.TvP.Protoss }}</p>
                        <p>{{ map.stats.TvP.percent_protoss|floatformat:2 }}%</p>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    </div>
</div>

{% endblock %}
